<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/src/main/resources/static/img/css/styles.css">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <meta name="autor" content="Thiago Rodrigues"/>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Escola</title>
</head>
<body>



    <header> 
       

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="https://placeholder.pics/svg/150x50/888888/EEE/Academy" alt="..." height="50">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

        <div id="navMobile" class="navbar-collapse collapse justify-content-end">
            <a class="nav-item nav-link" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Cadastra aluno</a>
            <a class="nav-item nav-link" href="#">Pesquisa aluno</a>
            <a class="nav-item nav-link btn-danger" href="#">Sair</a>
        </div>
      </nav>

    </header>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="webjars/bootsrap/js/bootsrap.min.js"></script>
</body>
</html>